@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;500;600;700&family=Noto+Sans+KR:wght@400;500;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Noto Serif KR", serif;
  --font-sans: "Noto Sans KR", sans-serif;
}

:root {
  --color-primary: #7a8266;
  --color-secondary: #d4b8b1;
}

.break-keep {
  word-break: keep-all;
}
